<template name="PublicHome"><div id="PublicHome">

    <!-- Page Contents -->
    <div class="pusher">
      <div class="ui inverted vertical masthead center aligned segment">

        <div class="ui container">
          <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
              <i class="sidebar icon"></i>
            </a>
            <div class="right item">
              <a href="{{pathFor route='sign-in'}}" class="ui inverted button">Log in</a>
              <a href="{{pathFor route='sign-up'}}" class="ui inverted button">Sign Up</a>
            </div>
          </div>
        </div>

        <div class="ui text container">
          <h1 class="ui inverted header">
            Fumble Mania
          </h1>
          <h2>The online role-playing game plateform.</h2>
          <a href="{{pathFor route='sign-up'}}" class="ui huge primary button">Get Started <i class="right arrow icon"></i></a>
        </div>

      </div>
    </div>

</div></template>